@tailwind base;
@tailwind components;
@tailwind utilities;


/* Everett font family integration */
@font-face {
  font-family: "Everett";
  src: url("../public/fonts/Everett-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

/* Lausanne font family integration */
@font-face {
  font-family: "Lausanne";
  src: url("../public/fonts/Lausanne-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;

}

:root {
  --font-everett: "Everett", sans-serif;
  --font-lausanne: "Lausanne", sans-serif;

}

.font-everett {
  font-family: 'Everett', sans-serif;
}

.font-lausanne {
  font-family: 'Lausanne', sans-serif;
}

